USE [master]
GO
/****** Object:  Database [RevisionesOculares]    Script Date: 05/01/2022 10:12:40 ******/
CREATE DATABASE [RevisionesOculares]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RevisionesOculares', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RevisionesOculares.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RevisionesOculares_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RevisionesOculares_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RevisionesOculares].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RevisionesOculares]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 05/01/2022 10:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[NIF] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[EDAD] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ojo]    Script Date: 05/01/2022 10:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ojo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESFERA] [real] NOT NULL,
	[CILINDRO] [real] NOT NULL,
	[ADICION] [real] NOT NULL,
	[AGUDEZA] [real] NOT NULL,
 CONSTRAINT [PK_Ojo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Revision]    Script Date: 05/01/2022 10:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Revision](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIF] [varchar](50) NOT NULL,
	[CONSULTA] [date] NOT NULL,
	[OJO_DERECHO] [int] NOT NULL,
	[OJO_IZQUIERDO] [int] NOT NULL,
 CONSTRAINT [PK_Revision] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Revision]  WITH CHECK ADD  CONSTRAINT [FK_Revision_Cliente] FOREIGN KEY([NIF])
REFERENCES [dbo].[Cliente] ([NIF])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Revision] CHECK CONSTRAINT [FK_Revision_Cliente]
GO
ALTER TABLE [dbo].[Revision]  WITH CHECK ADD  CONSTRAINT [FK_Revision_Ojo] FOREIGN KEY([OJO_DERECHO])
REFERENCES [dbo].[Ojo] ([ID])
GO
ALTER TABLE [dbo].[Revision] CHECK CONSTRAINT [FK_Revision_Ojo]
GO
ALTER TABLE [dbo].[Revision]  WITH CHECK ADD  CONSTRAINT [FK_Revision_OjoDerecho] FOREIGN KEY([OJO_DERECHO])
REFERENCES [dbo].[Ojo] ([ID])
GO
ALTER TABLE [dbo].[Revision] CHECK CONSTRAINT [FK_Revision_OjoDerecho]
GO
USE [master]
GO
